/* General */

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 41px;
  color: #7e8287;
}

p strong {
  font-weight: 700;
  font-size: 23px;
}

small {
  font-size: 11px;
  color: #7e8287;
  font-weight: 400;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

section h2 {
  font-size: 46px;
  font-weight: 800;
  color: #02918c;
  text-transform: uppercase;
}

.yellow-btn {
  background-color: #cfc91d;
  font-size: 14px;
  font-weight: 700;
  line-height: 47px;
  height: 47px !important;
  width: 196px !important;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  transition: background 1s;
  cursor: pointer;
  border: none;
}

.yellow-btn, .yellow-btn:hover, .yellow-btn:active, .yellow-btn:visited {
  color: #0b1016;
  text-decoration: none;
}

.yellow-btn:hover {
  background-color: #f0ea48;
}

.bracket {
  height: 25px;
  width: 108px;
  background: url(../img/bracket.png) no-repeat center;
  display: block;
  margin: 50px auto;
}

.separator {
  height: 9px;
  display: block;
  margin: 50px 0;
}

.separator-lg {
  width:162px;
  background: url(../img/separator.png) no-repeat center;
}

.separator-sm {
  width: 108px;
  background: url(../img/separator-sm.png) no-repeat center;
}

.text-sm {
  font-weight: 400;
  font-size: 18px;
}

.text-md {
  font-weight: 400; 
  font-size: 30px;
}

.text-lg {
  font-weight: 800;
  font-size: 68px;
  letter-spacing: 20px;
  text-transform: uppercase;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
.center-text {
  text-align: center;
}

.center-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.no-border {
  border: none;
}

.border-left {
  border-left: 1px solid #c1c9c9;
}

.top50 {
  margin-top: 50px;
}
.top80 {
  margin-top: 80px;
}
.bottom50 {
  margin-bottom: 50px;
}
.bottom80 {
  margin-bottom: 80px;
}

.half-percent {
 width: 50%;
}

/* Header */

nav {
  height: 61px;
  background-color: #1B908B;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

nav h1, nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

nav li:first-child {
  margin-left: 0;
}

nav .logo {
  position: relative;
  top: 18px;
  left: 51px;
  margin-left: -15px;
}

nav h1 {
  font-size: 20px;
  color: #cfc91d;
  font-weight: 700;
}

nav h1>span, nav ul li a, nav ul li a:visited {
  color: #ffffff !important;
  text-decoration: none !important;
}

nav ul li a:hover, nav ul li a:active {
  color: #cfc91d !important;
  text-decoration: none;
}

nav ul {
  position: relative;
  top: 20px;
  right: 44px;
}

#main-header {
  height: 728px;
  background: url(../img/main-header.png) no-repeat;
  background-size: cover;
  padding-top: 271px;
  color: #ffffff;
  margin-top: 61px;
}

/* About Me */

.box {
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
}

.box-full {
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
}

.frame-icon {
  height: 32px;
  width: 100%;
}

.helper-icon {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.icon {
    vertical-align: middle;
    max-height: 32px;
}

.frame-title h3 {
  color: #7e8287;
  font-weight: 700;
  font-size: 16px;
  margin: 15px 0;
}

/* Services */

#services>.row {
  background: #f0f0e8 url(../img/services-bg.png) no-repeat right;
  height: 100%;
  background-size: 50%;
}

/* My Work */

.portfolio-item {
  width: 25%;
  height: auto;
  float: left;
  position: relative;
}

.portfolio-img img {
  width: 100%;
  height: auto;
  height: 238px;
}

.portfolio-info {
  position: absolute;
  background-color: rgba(2, 145, 140, 0.85);
  z-index: 1000;
  height: 196px;
  width: 85%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #FFFFFF;
  display: none;
}

.portfolio-info h4 {
  font-size: 16px;
  font-weight: 700;
}

.portfolio-info small {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
}

/* Contact Me */

#contact-form {
  background: #0b0b0b;
}

#contact-form input, #contact-form textarea, #contact-form label {
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #7e8287;
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  color: #7e8287;
  margin-bottom: 50px;
}

#contact-form input {
  width: 50%;
}

#contact-form textarea, #contact-form label {
  width: 80%;
}

#contact-form label {
  margin-bottom: 0;
}

#contact-form textarea {
  height: 100px;
  text-align: left;
  padding: 5px;
  text-transform: none;
}

#contact-form textarea:focus, #contact-form input:focus{
    outline: 0;
}

/* Footer */

footer>.row {
  background: #000;
  text-align: center;
  height: 79px;
}

.footer-content {
  height: 100%;
  padding-top: 35px;
  color: #7e8287;
  font-size: 12px;
  text-transform: uppercase;
}